<h1 class="text-center" style="margin-bottom: 50px">关于一句
        <a href="#/" class="glyphicon glyphicon-info-sign"/></h1>
<div style="margin:20px">
	<h3>这是什么?</h3>
	<article>"一句"是一个超轻的阅读应用,从大量文字中随手翻出一句.</article>
	<h3>灵感</h3>
	<article>来源于我的另一应用: <a href="http://mima.treenote.net" target="_blank">唐诗密码本</a></article>
	<h3>开源项目</h3>
	<article>这是一个开源项目, <a href="https://github.com/fangj/one" target="_blank">https://github.com/fangj/one</a>, 用 express,angular 搭建. 欢迎小伙伴到 github 上点小星星.</article>
	<h3>关于我</h3>
	<article>
		饭叔,湖建血统的南京土著. 养着一只肥白的中华田园猫. 有很多有趣的想法,就是没空做T T. 
	</article>
</div>